* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 
}

#site_header {
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);
    background-size: 280px;
}

.logo_img {
    padding: 1rem 0.5rem;
    padding-left: 5rem;
    box-sizing: content-box

}

#site_main {
    padding: 10vh 2rem;
    padding-top: 1vh;
    padding-right: 2rem;
    padding-bottom: 10vh;
    padding-left: 5rem;
}

.article_header {

}

.meta {
color: rgb(145, 145, 145);
}

.author_link {
    text-decoration: none;
    color: dodgerblue;
}

.date {

}

.content {

}

.images {

}

.caption {

}

.py_1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py_2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}